.comment-form {
  display: flex;
  justify-content: end;
  margin-left: 20px;
  //   width: 90%;
  .content_input {
    background-color: rgb(255, 247, 247);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 6px 6px 1px 6px;
    height: 35px;
    width: 260px;
    padding: 8px;
  }
  .comment-button {
    width: 40px;
    height: 40px;
    margin: 3px;
  }
}
.comments {
  &-list {
    padding: 15px 8px;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    color: rgb(82, 82, 82);
    @include text(0.9rem);
    font-weight: 400;
    .comments-card {
      color: rgb(61, 61, 61);
      @include text(0.9rem);
      font-weight: 400;
      background-color: rgb(245, 234, 234);
      padding: 5px;
      margin-top: 15px;
      border-radius: 8px 8px 8px 2px;
      &-data {
        padding: 3px;
        &-header {
          margin: 5px 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          h3 {
            @include text(0.8rem);
            font-weight: 400;
            color: #595959;
            width: 70%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .comment-form {
    margin-left: 0px;
    width: 280px;
    .comment-button {
      margin-right: 10px;
    }
  }
  .comments {
    &-list {
      padding: 10px 5px;
      .comments-card {
        &-data {
          &-header {
            justify-content: space-around;
          }
        }
      }
    }
  }
}
