.user {
  background-color: rgb(255, 179, 179);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-welcome {
    text-align: center;
    h1 {
      margin: 20px auto;
      @include community(1.9rem);
      text-shadow: 1px 1.5px 0px black;
    }
  }
  &-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-label {
      @include text(1.1rem);
      font-weight: bold;
      color: rgba(5, 5, 5, 0.842);
      margin: 15px;
    }
    &-input {
      margin: 10px;
      font-size: 1.2rem;
      background-color: rgba(210, 105, 30, 0);
      border: none;
      border-bottom: 2px solid rgba(0, 0, 0, 0.315);
      color: rgb(0, 0, 0);
      font-weight: bold;
      min-width: 270px;
    }
  }
}
.delete-user {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  margin: 15px 40px 0 0;
  padding-left: 10px;
  &-img {
    margin-left: 10px;
    margin-right: -10px;
  }
}
@media screen and (max-width: 700px) {
  .user-form-input {
    font-size: 1rem;
    font-weight: 400;
  }
}
