.nav {
  background-color: $transparent-blue;
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  // border-bottom: 2px solid rgb(118, 118, 165);
  box-shadow: 0 2px 4px rgb(82, 80, 100);
  &-logo {
    display: flex;
    flex-direction: row;
    &-link {
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;
      &-img {
        width: 230px;
        margin-right: 8px;
      }
      &-community {
        @include community(2rem);
        text-shadow: $textshadow;
        margin-bottom: 5px;
        // width: 45%;
      }
    }
  }
  &-links {
    list-style: none;
    display: flex;
    margin-right: 30px;
    li {
      img {
        width: 40px;
        margin: 20px;
      }
    }
  }
}
// .auth {
//   display: flex;
//   justify-content: space-around;
//   margin-bottom: 0;
//   &-inscription {
//     list-style: none;
//     &-button {
//       @include button();
//       color: white;
//     }
//   }
//   &-connexion {
//     &-button {
//       @include button();
//     }
//   }
// }
