.navbar {
  background-color: $dark-blue;
  // height: 150px;
  // display: flex;
  &-logo {
    display: flex;
    flex-direction: row;
    a {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px 20px 0 20px;
      .logo {
        width: 50%;
        max-width: 300px;
      }
      .community {
        @include community(1.7rem);
        margin-bottom: 5px;
        width: 45%;
      }
    }
  }
  .auth {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    &-inscription {
      @include button();
      list-style: none;
      :hover {
        scale: 1.15;
        box-shadow: $textshadow;
      }
      &-a {
        text-decoration: none;
        color: white;
      }
    }
    &-connexion {
      @include button();
      list-style: none;
      &-a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
